<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link ref="stylesheet" href="/styles.css">
</head>
<body>
    
    <h1>Search Results</h1>

    <div class="gif-list">
        <table>
            <tr data-th-each="image: ${urlList}">
                <td>
                    <img data-th-src="${image}">
                </td>
            </tr>
        </table>
    </div>
</body>
</html>